@import url("../assets/normalize.css");

:root {
  --bg_0: #f8f3ef;
  --bg_1: #fff;
  --text_0: #383838;
  --primary: #8c00ff;
}

/* 🍀Create the @media query for dark theme here */
/* @media ( ... ) {
  :root {
    --bg_0: #383838;
    --bg_1: #2e2a2f;
    --text_0: #f8f3ef;
  }
} */

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg_0);
  color: var(--text_0);
  box-sizing: border-box;
  font-weight: 400;
  /* 🍀 Here's the first fixed unit (px) to be converted to rem */
  font-size: 16px;
  line-height: 1.5;
}

body * {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  padding: 64px 16px;
}

.card {
  position: relative;
  padding: 24px 16px;
  background-color: var(--bg_1);
  border: 1px solid #9b78de;
  box-shadow: 2px 2px #e9e1f8;
}

/* 🍀 `em` are the only consistent unit in @media queries. */
@media (min-width: 480px) {
  .card {
    display: flex;
  }

  .card> :nth-child(1) {
    flex: 1;
  }

  .card> :nth-child(2) {
    flex: 2;
    padding-left: 16px;
  }
}

.btnBell {
  display: flex;
  align-items: center;
  min-height: 35px;
  font-size: 16px;
  border: 1px solid var(--primary);
  border-radius: 3px;
  padding: 8px;
  background-color: var(--bg_0);
  color: var(--text_);
  cursor: pointer;
}

.btnBell:hover {
  color: var(--primary);
}

.btnBell-svg {
  width: 16px;
  max-height: 16px;
  fill: currentColor;
  margin-right: 8px;
  animation: shakeSometimes 4000ms infinite;
}

/* 🍀 Create the reduced motion query and remove the animation.  */
/* @media (...) {
  .btnBell-svg {

  }
} */

.btnBell-svg:focus {
  outline: none;
  box-shadow: var(--bg_0) 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}

.u-fixedTop {
  position: absolute;
  top: 16px;
  right: 16px;
}

.tag {
  /* 🍀 Does this color respects AA level? */
  color: #ffa35b;

  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.heading-1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 16px;
}


/*  ----------------------------------------- *\
|*  You do not need to touch the code bellow  *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

@keyframes shakeSometimes {

  40%,
  60% {
    transform: rotate(0deg);
    color: inherit;
  }

  42.5%,
  57.5% {
    transform: rotate(10deg);
  }

  45%,
  50%,
  55% {
    transform: rotate(-20deg);
    color: var(--primary);
  }

  47.5%,
  52.5% {
    transform: rotate(20deg);
  }
}

@-webkit-keyframes shakeSometimes {

  40%,
  60% {
    transform: rotate(0deg);
    color: inherit;
  }

  42.5%,
  57.5% {
    transform: rotate(10deg);
  }

  45%,
  50%,
  55% {
    transform: rotate(-20deg);
    color: var(--primary);
  }

  47.5%,
  52.5% {
    transform: rotate(20deg);
  }
}