/*  💡 Bonus #1:
  There are 2 ways to display the tag before the title:
  - reverse the order with `flex-direction: column-reverse;`
  or
  - put the .header-tag on first place adding `order: -1;`
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-tag {
  margin: 0;
}

/* 💡 Bonus #2:
  Add the needed CSS to the class bellow:
*/
.visually-hidden {
  /* ... */
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code bellow  *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

.tagSecondary {
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #ffe6d2;
  color: #a75000;
  line-height: 1;
}

/* ------- Header -------  */

.header-plantName {
  margin-bottom: 1.6rem;
}

/* ------- Info -------  */

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0;
}

.info-part {
  flex: 1;
}

.topic {
  margin: 0;
  padding: 0;
}

.topic-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.6rem;
  padding: 0;
}

.topic-key {
  font-size: 1.4rem;
  color: #595959;
}

.topic-value {
  margin: 0.4rem 0;
}

.media {
  text-align: center;
}

.media-img {
  max-width: 100%;
}

/* ------- Details & CTA -------  */

.details {
  border-top: 0.1rem solid #9b78de;
  padding-top: 1.6rem;
}

.details-title {
  margin-bottom: 0.8rem;
}

.details-part:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}

.details-text {
  line-height: 1.5;
  font-size: 1.4rem;
}

.price {
  line-height: 1;
}

.price-original {
  text-decoration: line-through;
  opacity: 0.7;
  margin: 0 0 0.4rem;
}

.price-final {
  margin-bottom: 0;
}
