/*  ---------------------------------------- *\
|*    You do not need to touch this file     *|
|*     but you can see how it was made.      *|
\** ---------------------------------------- */

/* Lesson 1 */
.case1 {
  position: relative;
  width: 100%;
  padding: 0;
}

.case1-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.case1-text {
  position: relative;
  margin: 0;
  padding: 4rem 2.4rem;
  font-size: 3.2rem;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.3rem #00000080;
}

/* Lesson 2 */
.case2 {
  display: flex;
}

.case2 img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

.case2-content {
  margin-left: 1.6rem;
}

.case2-name {
  display: block;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.case2-quote {
  font-style: italic;
}

.case2-quote::before,
.case2-quote::after {
  content: "";
}

/* Lesson 3 */
.case3 {
  max-width: 25rem;
  border: 0.1rem solid #6f6f6f;
  padding: 1.6rem;
}

.case3 figure {
  margin: 0;
}

.case3-img {
  width: 100%;
  display: block;
}

.case3-caption {
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

/* Lesson 4 */
.case4 {
  display: flex;
  align-items: center;
}

.case4-text {
  margin-left: 0.4rem;
}
