/* Never ever do this 🥺
 💡 Delete this declaration! */
*:focus {
  outline: none;
}

/* ------- BUTTON -------  */

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border: none;
  padding: 8px 24px;
  background-color: var(--theme-primary);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.c-btnPrimary:hover {
  opacity: 0.8;
}

/* 💡 Add the button styles here
- How does the input looks like when disabled or :focus? Try it out! 
- Suggestion: You can add a nice box-shadow on focus:
  box-shadow: var(--theme-focus_shadow);
*/

/* ------- LINK -------  */

.c-link {
  all: unset;
  color: var(--theme-text_0);
  text-decoration: underline;
  cursor: pointer;
}

.c-link:hover {
  color: var(--theme-primary);
}

/* 💡 Add link focus styles here
- You could change the background or add a border (shadow) */

/* ------- TEXT INPUT -------  */

.fieldArea {
  max-width: 200px;
}

.fieldLabel {
  display: block;
  font-weight: 600;
  /* 💡 Bonus #3 Margins are not included
  in the interactive area, but paddings are! */
  margin-bottom: 8px;
}

.textInput {
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--theme-text_1);
}

/* 💡 Input focus styles */

.textInput:hover {
  border-color: var(--theme-primary);
}

/* 💡 Improve the focus indicator with something more visible */
.textInput:focus {
  /* ... */
}

/* ----- */

/* 💡 Bonus #3
- You can use var(--theme-primary) for the color */

/* ------- BUTTON CLOSE -------  */

.c-btnCorner {
  all: unset;
  position: absolute;
  --cornerOffset: 16px;
  bottom: var(--cornerOffset);
  right: var(--cornerOffset);
}

.c-btnCorner-area {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--theme-text_0);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

/* 💡 The hover indicator has enough contrast,
so the focus can be exactly the same */
.c-btnCorner-area:hover {
  background-color: var(--theme-primary);
  color: var(--theme-bg_0);
  transition: background-color 150ms, color 150ms;
}

.c-btnCorner svg {
  width: 9px;
  margin-left: 1px;
  fill: currentColor;
}
