/* Never ever do this 🥺
 💡 Delete this declaration! */
*:focus {
  outline: none;
}

/* ------- BUTTON -------  */

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  font-size: 1.8rem;
  border: none;
  padding: 8px 24px;
  background-color: var(--theme-primary);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.c-btnPrimary:hover {
  opacity: 0.8;
}

/* 💡 Add the button styles here
- How does the input looks like when disabled or :focus? Try it out! 
- Tip: You can add a nice box-shadow on focus:
  box-shadow: var(--theme-focus_shadow);
*/

/* ------- LINK -------  */

.c-link {
  all: unset;
  color: var(--theme-text_0);
  text-decoration: underline;
  cursor: pointer;
}

.c-link:hover {
  color: var(--theme-primary);
}

/* 💡 Add link focus styles here
- You could change the background or add a border (shadow) */

/* ------- TEXT INPUT -------  */

.textInput {
  width: 100%;
  max-width: 200px;
  height: 32px;
  padding: 4px 8px;
  font-size: inherit;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--theme-text_1);
}

.textInput:hover,
.textInput:focus {
  border-color: var(--theme-primary);
}

/* 💡 add .textInput styles here!
- How does the input looks like when disabled or focused? Try it out! 
- Tip: Change the border color on hover or focus
*/
