/* Do never ever do this 🥺
 💡 Delete this declaration! */
*:focus {
  outline: none;
}

/* ------- BUTTON -------  */

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 4.4rem;
  font-size: 1.6rem;
  border: none;
  padding: 0.8rem 2.4rem;
  background-color: #8c00ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
}

.c-btnPrimary:hover {
  opacity: 0.8;
}

/* 💡 add the button styles here!
- How does the input looks like when disabled or :focus? Try it out! 
- Tip: You can add a nice box-shadow on focus:
  box-shadow: #fff 0 0 0 2px, #ff821f 0 0 0 4px;
*/

/* ------- LINK -------  */

.c-link {
  all: unset;
  color: #6f6f6f;
  text-decoration: underline;
  cursor: pointer;
}

.c-link:hover {
  color: #8c00ff;
}

/* 💡 add link focus styles here!
- You could change the background to a very light purple */

/* ------- TEXT INPUT -------  */

.textInput {
  width: 100%;
  max-width: 20rem;
  height: 3.2rem;
  padding: 0.4rem 0.8rem;
  font-size: inherit;
  border: 0.1rem solid #6f6f6f;
}

.textInput:hover,
.textInput:focus {
  border-color: #8c00ff;
}

/* 💡 add .textInput styles here!
- How does the input looks like when disabled or focused? Try it out! 
- Tip: Change the border color on hover or focus
*/
