/* ------- CASE #2 Custom input -------  */

.c-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  font-size: 1.4rem;
}

.c-checkbox input {
  /* 💡 We shouldn't use display:none, right? */
  display: none;
}

/* ------- CASE #3 Toggle content -------  */

.coolText {
  /* 💡 It's visually hidden, but we need to hide it completely  */
  opacity: 0;
  padding: 16px 0 0 16px;
  transition: opacity 250ms;
}

.coolText.isVisible {
  opacity: 1;
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code below   *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

/* ------- HEADER + MENU -------  */

.headerFixed {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  z-index: 2;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  width: 150px;
  height: 100%;
  padding-top: 50px;
  background: var(--theme-primary_smooth);
  border-left: 3px solid var(--theme-primary);
  transform: translateX(100%);
  transition: transform 300ms;
}

.menu.isVisible {
  transform: translateX(0%);
}

.menu-btn {
  height: 30px;
  min-width: auto;
  min-height: auto;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.menu a {
  display: block;
  padding: 4px 0;
}

/* ------- CHECKBOX -------  */

.c-checkbox:hover + :last-child::before {
  border-color: #6f6f6f;
}

.c-checkbox input:focus + :last-child::before {
  border-color: #8c00ff;
  box-shadow: var(--theme-focus_shadow);
  outline: var(--theme-focus_outline);
}

.c-checkbox:last-child::before,
.c-checkbox:last-child::after {
  display: inline-block;
  border-radius: 2px;
}

.c-checkbox :last-child::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid #6f6f6f;
  transform: translateY(2px);
  transition: box-shadow 150ms, background-color 150ms;
}

.c-checkbox :last-child::after {
  font-family: sans-serif;
  content: "✓";
  line-height: 1;
  font-size: 14px;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 7px;
  left: 6px;
  color: #fff;
  font-weight: 600;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 150ms;
  transform-origin: 50% 50%;
}

.c-checkbox input:checked + :last-child::before {
  border-color: #8c00ff;
  background-color: #8c00ff;
}

.c-checkbox input:checked + :last-child::after {
  transform: translate(-50%, -50%) scale(1);
}

/* ------- OTHER STUFF -------  */

.toggleArea {
  display: flex;
}

.g-card {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  padding-top: 0;
}
