@import url("2.2.css");

/* 💡 Complete the skipLink */

.skipLink {
  /* some predefined styles: */
  color: inherit;
  border: 0.1rem solid #9d79ef;
  background-color: #fff;
  padding: 0.8rem;
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code bellow  *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

/* Prevent some browser sfrom showing
the ugly outline on focus */
[tabindex="-1"] {
  outline: none;
}

/* CSS animation shown when the element
receives focus from an href="#" */
#main:target {
  animation: tempRing 1500ms;
}

@-webkit-keyframes tempRing {
  30%,
  75% {
    box-shadow: white 0 0 0 0.1rem, #ef7979 0 0 0 0.3rem;
  }
}

@keyframes tempRing {
  30%,
  75% {
    box-shadow: white 0 0 0 0.1rem, #ef7979 0 0 0 0.3rem;
  }
}
