@import url("2.2.css");

.skipLink {
  /* some predefined visuals */
  color: inherit;
  border: 1px solid #9d79ef;
  background-color: #fff;
  padding: 8px;
  /* 💡 Complete the skipLink */
  /* ... */
}

/* 💡 Bonus #1 */
.your-selector-here {
  /* Here's a pre-built animation for you */
  animation: ring 1500ms;
}

/* 💡 Bonus #2 */
.listTitle:focus {
  /* ...custom styles... */
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code below   *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

.listBottom {
  display: flex;
  justify-content: flex-end;
}

.btnCircle svg {
  width: 16px;
  fill: currentColor;
}

@-webkit-keyframes ring {
  30%,
  75% {
    box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
  }
}

@keyframes ring {
  30%,
  75% {
    box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
  }
}
