/* ---------------------------------------  */
/* ----------- LESSON #1 LISTS -----------  */
/* ---------------------------------------  */

/* CSS not needed */

/* ---------------------------------------  */
/* ------ LESSON #2 CARDS CLICKABLE-------  */
/* ---------------------------------------  */

.cardParent {
  display: flex;
  justify-content: space-between;
}

.card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas:
    "placeholder placeholder"
    "tag date"
    "title title"
    "text text"
    "cta cta";
  width: calc(50% - 8px);
  border: 1px solid gray;
  border-radius: 1px;
  padding: 8px;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  border-color: var(--theme-primary);
  cursor: pointer;
}

.card:hover .card-link {
  color: var(--theme-primary);
}

.card-link:focus {
  outline: none;
  color: var(--theme-primary);
}

.card-link:focus .card-decoration,
.card-link:hover .card-decoration {
  background: var(--theme-primary);
}

.card-link:focus .card-title,
.card-link:hover .card-title {
  color: var(--theme-primary);
}

.card-decoration {
  grid-area: placeholder;
  height: 50px;
  width: calc(100% + 16px);
  margin: -8px 0 0 -8px;
  background: var(--theme-primary_smooth);
}

.card-tag {
  grid-area: tag;
  align-self: center;
  color: gray;
  padding-top: 16px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.card-date {
  grid-area: date;
  align-self: center;
  justify-self: end;
  color: gray;
  padding-top: 16px;
  font-size: 1.2rem;
}

.card-title {
  grid-area: title;
  margin: 0;
  padding: 4px 0 8px;
  line-height: 1.2;
}

.card-text {
  grid-area: text;
  margin: 0;
}

.card-cta {
  grid-area: cta;
  color: inherit;
  text-decoration: none;
  color: var(--theme-primary);
  text-decoration: underline;
  align-self: end;
  padding-top: 8px;
}

/* ---------------------------------------  */
/* ------- LESSON #3 CUSTOM SELECT -------  */
/* ---------------------------------------  */

/* Both native and custom selects must have the same width/height. */
.selectNative,
.selectCustom {
  position: relative;
  width: 220px;
  height: 40px;
}

.selectCustom {
  /* 💡 The custom select must be absolute to not mess with the layout */
  /* position: absolute; */
  top: 0;
  left: 0;
}

/* 💡 Write the select styles from here... */

/* 1/4 hide the custom select by default */

/* 2/4 within the hover media query 
- 3/4 show the custom select
- 4/4 hiden the custom select when the native is focused
*/

/*  ... until here 💡 */

/* Once you make the native select work, that's all! */

/* ----- */

/*  ----------------------------------------- *\
|*  You do not need to touch the code below   *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

/* highlight the custom select when is clicked */
.selectCustom.isActive .selectCustom-trigger {
  outline: none;
  box-shadow: white 0 0 0 2px, #ff821f 0 0 0 4px;
}

/* Rest of the styles to create the custom select. */
/* Just make sure the native and the custom have a similar "box" (the trigger). */

.select {
  position: relative;
}

.selectLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.selectWrapper {
  position: relative;
}

.selectNative,
.selectCustom-trigger {
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
}

.selectNative {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 8px;
  padding: 0 8px;
}

.selectCustom-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 8px 8px;
  cursor: pointer;
}

.selectCustom-trigger::after {
  content: "▾";
  position: absolute;
  top: 0;
  line-height: 38px;
  right: 8px;
}

.selectCustom-trigger:hover {
  border-color: #8c00ff;
}

.selectCustom-options {
  position: absolute;
  top: calc(38px + 8px);
  left: 0;
  width: 100%;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 1;
  padding: 8px 0;
  display: none;
}

.selectCustom.isActive .selectCustom-options {
  display: block;
}

.selectCustom-option {
  position: relative;
  padding: 8px;
  padding-left: 25px;
}

.selectCustom-option.isHover,
.selectCustom-option:hover {
  background-color: #865bd7; /* contrast AA */
  color: white;
  cursor: default;
}

.selectCustom-option:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}

.selectCustom-option.isActive::before {
  content: "✓";
  position: absolute;
  left: 8px;
}

/* ---------------------------------------  */
/* ------- LESSON #4 TOGGLE BUTTON -------  */
/* ---------------------------------------  */

.stgs button:focus {
  outline: none;
  box-shadow: white 0 0 0 2px, #ff821f 0 0 0 4px;
}

.stgs input:focus {
  outline: 4px solid #ff821f;
}

.stgs[data-theme="light"] {
  background: var(--theme-bg_1);
  color: var(--theme-text_0);
  /* nothing... */
}
.stgs[data-theme="dark"] {
  background: var(--theme-text_0);
  color: var(--theme-bg_0);
}

.stgs[data-size="sm"] {
  font-size: 1.4rem;
}
.stgs[data-size="md"] {
  font-size: 1.6rem;
}
.stgs[data-size="lg"] {
  font-size: 1.9rem;
}

/* Sound toggle */
.stgs-btnOnOff {
  background: transparent;
  color: inherit;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  border: 1px solid;
}
.stgs-btnOnOff .on,
.stgs-btnOnOff .off {
  display: none;
}
.stgs-btnOnOff[aria-pressed="true"] .on {
  display: block;
}
.stgs-btnOnOff[aria-pressed="false"] .off {
  display: block;
}

/* Theme toggle */
.stgs-toggleTheme {
  background: transparent;
  color: inherit;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  border: 1px solid;
}
.stgs-toggleTheme:focus-within {
  outline: none;
  box-shadow: white 0 0 0 2px, #ff821f 0 0 0 4px;
}

.stgs-toggleTheme input {
  position: absolute;
  opacity: 0;
}

.stgs-toggleTheme input + .stgs-toggleTheme-fakeCheck::before {
  content: "🔲";
  content: "🔲" / "";
  margin-right: 8px;
}
.stgs-toggleTheme input:checked + .stgs-toggleTheme-fakeCheck::before {
  content: "✅";
  content: "✅" / "";
  margin-right: 8px;
}

/* Font size options */
.stgs-toolbar-title,
.stgs-toolbar label {
  display: block;
}

/* ---------------------------------------  */
/* ------- LESSON #5 LOADING STATES ------  */
/* ---------------------------------------  */

.luckyArea {
  width: 100%;
  height: 100px;
  border: 1px dotted var(--theme-primary);
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js-isHidden {
  display: none;
}
