main {
  margin: 0 auto;
  max-width: var(--theme-width);
  padding: 40px 16px 16px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration-color: var(--theme-primary);
  line-height: 1.2;
  border-radius: 3px;
}

ul a {
  display: inline;
}

a:hover {
  color: var(--theme-primary);
}

a:focus {
  background-color: var(--theme-bg_1);
  box-shadow: var(--theme-focus_shadow);
  outline: var(--theme-focus_outline);
}

pre {
  background: var(--theme-bg_1);
  display: block;
  padding: 16px;
  color: inherit;
  border-radius: 3px;
}

code[class*="language-"],
pre[class*="language-"] {
  /* override prims */
  font-size: 1.2rem;
}

pre code {
  background: var(--theme-bg_1);
}

code {
  background: #e7e1dc;
  padding: 1px 3px;
  font-weight: 100;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--theme-primary);
  margin: 0 0 16px;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 32px 0 16px;
  line-height: 1.2;
  background: var(--theme-primary_smooth);
  padding: 2px 8px;
  border-radius: 4px;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 0;
  line-height: 1.2;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 16px 0 -10px;
  line-height: 1.2;
}

hr {
  margin: 32px 0 0;
  border: none;
  border-bottom: 1px solid var(--theme-primary_smooth);
}

summary {
  margin-bottom: 4px;
}

blockquote {
  font-style: italic;
  opacity: 0.7;
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid var(--theme-text_1);
}

.bfg-hotlinks {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bfg-hotlinks a {
  background: var(--theme-bg_1);
  border: 1px solid var(--theme-primary);
  border-radius: 4px;
  padding: 4px 16px;
  text-decoration: none;
  margin: 6px;
}

.bfg-hotlinks a:focus {
  box-shadow: var(--theme-focus_shadow);
  outline: var(--theme-focus_outline);
}
