main {
  margin: 0 auto;
  max-width: var(--theme-width);
  padding: 40px 16px 16px;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration-color: var(--theme-primary);
  line-height: 1.2;
  border-radius: 3px;
}

ul a {
  display: inline;
}

a:hover {
  color: var(--theme-primary);
}

a:focus {
  outline: none;
  box-shadow: var(--theme-focus_shadow);
}

pre {
  background: var(--theme-bg_1);
  display: block;
  padding: 16px;
  color: inherit;
  border-radius: 3px;
}

code[class*="language-"],
pre[class*="language-"] {
  /* override prims */
  font-size: 1.2rem;
}

pre code {
  background: var(--theme-bg_1);
}

code {
  background: #e7e1dc;
  padding: 1px 3px;
  font-weight: 100;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--theme-primary);
  margin: 0 0 16px;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 32px 0 16px;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.2;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 16px 0 -10px;
  line-height: 1.2;
}

hr {
  margin: 32px 0 0;
  border: none;
  border-bottom: 1px solid var(--theme-primary_smooth);
}

.linkBack {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--theme-bg_1);
  box-shadow: 0 0 0 2px var(--theme-primary);
  padding: 4px 16px;
  text-decoration: none;
}

.linkBack:focus {
  box-shadow: var(--theme-focus-shadow);
}

.bfg-footer {
  background: var(--theme-bg_1);
  padding: 8px 16px;
  margin: 0;
  text-align: center;
  color: var(--theme-text_1);
  font-size: 1.4rem;
}

.bfg-footer a {
  color: inherit;
}

.bfg-footer a:hover {
  color: var(--theme-primary);
}

.bfg-footer a:focus {
  color: var(--theme-text_0);
}
