@import url("./normalize.css");

/*  ---------------------------------------- *\
|*    You do not need to touch this file     *|
|*     but you can see how it was made.      *|
\** ---------------------------------------- */

@font-face {
  font-family: "IBMPlexSans ";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexSans ";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/IBMPlexSans-SemiBold.ttf");
}

html {
  font-size: 62.5%;
  --theme-width: 530px;
  --theme-text_0: hsl(0deg 0% 20%);
  --theme-text_1: hsl(0deg 0% 44%);
  --theme-bg_0: hsl(27deg 39% 95%);
  --theme-bg_1: hsl(0deg 0% 100%);
  --theme-primary: hsl(266deg 100% 61%);
  --theme-primary_smooth: hsl(266deg 100% 92%);
  --theme-secondary: hsl(27deg 100% 56%);
  --theme-focus_shadow: var(--theme-bg_0) 0 0 0 2px,
    var(--theme-secondary) 0 0 0 4px;
}

body {
  font-family: "IBMPlexSans ", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--theme-bg_0);
  color: var(--theme-text_0);
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body * {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  max-width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 480px;
  padding: 40px 16px;
}

.block {
  padding: 16px;
  margin: 40px auto;
}

.g-card {
  position: relative;
  max-width: var(--theme-width);
  padding: 24px 16px;
  margin: 60px auto;
  border: 1px solid var(--theme-primary);
  border-radius: 4px;
  background-color: var(--theme-bg_1);
  box-shadow: 2px 2px var(--theme-primary_smooth);
  min-height: 100px;
}

.g-cardTitle {
  position: absolute;
  top: -30px;
  left: 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: 0;
  font-weight: 600;
}

.part {
  margin: 32px 0;
}

/* ------- UTILS -------  */

.u-primary {
  color: var(--theme-primary);
}

.u-danger {
  color: #e44545;
}

.u-success {
  color: #328401;
}

.u-small {
  font-size: 1.4rem;
}

.u-block {
  display: block;
}

.u-rowCenterY {
  display: flex;
  align-items: center;
}

.u-rowCenterY * {
  margin-right: 16px;
}

.u-colCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- TYPOGRAPHY -------  */

.title-xl {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 0 0 16px;
  line-height: 1.2;
}

.title-lg {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 0 16px;
  line-height: 1.2;
}

.title-md {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 16px;
  line-height: 1.2;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ------- BUTTON -------  */

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  font-size: 1.6rem;
  border: none;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* do not use disabled attr. Prefer aria-disabled
 so that keyboard people can focus the button */
.btn[disabled="true"],
.btn[aria-disabled="true"] {
  opacity: 0.6;
}

.btnPrimary {
  min-width: 170px;
  background-color: var(--theme-primary);
  color: #fff;
  overflow: hidden;
}

/* TODO Review this
.btnPrimary[disabled]::after,
.btnPrimary[aria-disabled="true"]::after {
  content: "⌛️ Loading...";
  content: "⌛️ Loading..." / "Loading";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--theme-primary);
  cursor: not-allowed;
}
*/

.btnOutline {
  background: var(--theme-primary_smooth);
  color: var(--color);
}

.btnCircle {
  background-color: var(--theme-primary);
  color: var(--theme-bg_0);
}

.btnCircle,
.btnToggle {
  width: 44px;
  padding: 0;
  border-radius: 50%;
}

.btnPrimary:hover,
.btnCircle:hover {
  filter: saturate(1.3);
}

.btnPrimary:focus,
.btnOutline:focus,
.btnCircle:focus {
  outline: none;
  box-shadow: var(--theme-focus_shadow);
}

.btn-svg {
  width: 20px;
  max-height: 20px;
  fill: #fff;
}

.btnToggle {
  background: #ffffff;
  border: 1px solid var(--theme-text_1);
}

.btnToggle .btn-svg {
  fill: var(--theme-text_1);
}

.btnToggle:hover,
.btnToggle:focus {
  border-color: var(--theme-primary);
}

.btnToggle:focus {
  outline: none;
  box-shadow: var(--theme-focus_shadow);
}

.btnToggle.isPressed .btn-svg,
/* 🍀 We can use attributes to style as well! */
.btnToggle[aria-pressed="true"] .btn-svg {
  fill: var(--theme-primary);
}

/* ------- BREADCRUMB -------  */

.headerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.breadcrumb {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  margin-right: 8px;
}

.breadcrumb li:not(:last-child)::after {
  content: "▸";
  margin-left: 8px;
}

/* ------- LINKS -------  */

.link {
  --linkClr: var(--theme-primary);
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration-color: var(--linkClr);
  line-height: 1.2;
  z-index: 0;
}

.link:hover::before {
  transform: scale(1, 1);
}

.link::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -2px;
  width: calc(100% + 4px);
  height: 1.2em;
  background-color: var(--linkClr);
  border-radius: 3px;
  opacity: 0.2;
  transform: scale(1, 0.2);
  transform-origin: 0 95%;
  z-index: -1;
  transition: transform 175ms ease-out;
}

.link:focus:not(:focus-visible) {
  outline: none;
}

.link:focus-visible {
  outline: none;
  border-radius: 4px;
  box-shadow: var(--theme-focus_shadow);
}

.link.isCurrent {
  font-weight: 600;
}

/* ------- FORM CONTROLS -------  */

.form {
  margin-bottom: 50vh;
}

.field {
  display: block;
  position: relative;
  margin: 0 0 32px;
}

fieldset.field {
  border: none;
  padding: 0;
}

.field-txt {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.field-tip,
.field-error {
  display: block;
  opacity: 0.8;
  font-size: 1.4rem;
  margin-top: 4px;
}

.field-error {
  opacity: 1;
  color: #e44545;
  display: none;
}

.inputRadio {
  display: inline-block;
  margin: 0 24px 0 4px;
}

.inputRadio input {
  margin-right: 4px;
}

/* Don't judge... it works! I'll improve this later. */
.form-footer {
  margin-top: 24px;
  border-top: 1px solid var(--theme-text_1);
  padding: 24px 0 16px;
}

.formMsg {
  display: block;
  margin: 0 0 16px;
}

.formMsg:empty {
  margin: 0;
}

/* ------- RANDOM NON-SENSE CLASSES -------  */

.r-listNull {
  padding: 0;
  list-style-type: none;
}

.r-footerG {
  border-top: 1px solid var(--theme-primary_smooth);
}
