@import url("./normalize.css");

/*  ---------------------------------------- *\
|*    You do not need to touch this file     *|
|*     but you can see how it was made.      *|
\** ---------------------------------------- */

html {
  font-size: 62.5%;
  --theme-width: 53rem;
  --theme-primary: #9b78de;
  --theme-primary-strong: #8c00ff;
  --theme-primary-light: #e9e1f8;
  --theme-secondary: #ff821f;
  --theme-text_1: #6f6f6f;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8f3ef;
  color: #343434;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body * {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  max-width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 48rem;
  padding: 4rem 1.6rem;
}

.block {
  padding: 1.6rem;
  margin: 4rem auto;
}

.block_v {
  padding: 2.4rem 1.6rem;
  margin: 4rem auto;
  border: 0.1rem solid var(--theme-primary);
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem var(--theme-primary-light);
}

.part {
  margin: 3.2rem 0;
}

/* ------- UTILS -------  */

.u-primary {
  color: var(--theme-primary);
}

.u-danger {
  color: #e44545;
}

.u-success {
  color: #328401;
}

.u-small {
  font-size: 1.4rem;
}

.u-block {
  display: block;
}

.u-rowCenterY {
  display: flex;
  align-items: center;
}

.u-rowCenterY * {
  margin-right: 1.6rem;
}

/* ------- TYPOGRAPHY -------  */

.heading-1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 0 0 1.6rem;
  line-height: 1.2;
}

.heading-2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 0 1.6rem;
  line-height: 1.2;
}

.heading-3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 1.6rem;
  line-height: 1.2;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ------- BUTTON -------  */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4.4rem;
  font-size: 1.6rem;
  border: none;
  padding: 0.8rem 2.4rem;
  background-color: var(--theme-primary-strong);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
}

.btnOutline {
  padding: 0.8rem 2.4rem;
  border: 1px solid var(--theme-primary-strong);
  background-color: transparent;
  color: currentColor;
}

.btnOutline:hover {
  color: var(--theme-primary-strong);
}

.btnCircle,
.btnToggle {
  width: 4.4rem;
  padding: 0;
  border-radius: 50%;
}

.btnPrimary:hover,
.btnCircle:hover {
  opacity: 0.7;
}

.btnPrimary:focus,
.btnOutline:focus,
.btnCircle:focus {
  outline: none;
  box-shadow: white 0 0 0 0.2rem, var(--theme-secondary) 0 0 0 0.4rem;
}

.btn-svg {
  width: 2rem;
  max-height: 2rem;
  fill: #fff;
}

.btnToggle {
  background: #ffffff;
  border: 1px solid var(--theme-text_1);
}

.btnToggle .btn-svg {
  fill: var(--theme-text_1);
}

.btnToggle:hover,
.btnToggle:focus {
  border-color: var(--theme-primary-strong);
}

.btnToggle:focus {
  outline: none;
  box-shadow: white 0 0 0 0.2rem, var(--theme-secondary) 0 0 0 0.4rem;
}

.btnToggle.isPressed .btn-svg,
.btnToggle[aria-pressed="true"] .btn-svg {
  fill: var(--theme-primary-strong);
}

/* ------- BREADCRUMB -------  */

.headerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.breadcrumb {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  margin-right: 0.8rem;
}

.breadcrumb li:not(:last-child)::after {
  content: "▸";
  margin-left: 0.8rem;
}

/* ------- LINKS -------  */

.link {
  display: inline-block;
  color: inherit;
  text-decoration-color: var(--theme-primary);
  padding: 0.1rem 0.2rem;
  transform: translateX(-0.1em);
  margin-right: -0.1em;
}

.link:hover {
  color: var(--theme-primary-strong);
}

.link:focus {
  outline: none;
  background-color: var(--theme-primary-light);
}

.link.isCurrent {
  font-weight: 600;
}

/* ------- FORM CONTROLS -------  */

.form {
  margin-bottom: 50vh;
}

.field {
  display: block;
  position: relative;
  margin: 0 0 3.2rem;
}

fieldset.field {
  border: none;
  padding: 0;
}

.field-txt {
  display: block;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.field-tip,
.field-error {
  display: block;
  opacity: 0.8;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.field-error {
  opacity: 1;
  color: #e44545;
  display: none;
}

.inputRadio {
  display: inline-block;
  margin: 0 2.4rem 0 0.4rem;
}

.inputRadio input {
  margin-right: 0.4rem;
}

/* Don't judge... it works! I'll improve this later. */
.form-footer {
  margin-top: 2.4rem;
  border-top: 1px solid var(--theme-text_1);
  padding: 2.4rem 0 1.6rem;
}

.formMsg {
  display: block;
  margin: 0 0 1.6rem;
}

.formMsg:empty {
  margin: 0;
}

/* ------- RANDOM NONSENSE CLASSES -------  */

.r-listNull {
  padding: 0;
  list-style-type: none;
}

.r-list1 {
  padding-left: 1.6rem;
}

.r-list1 p {
  margin: 0.4rem;
}

.r-list2 {
  padding-left: 1.6rem;
}

.r-footerG {
  border-top: 1px solid var(--theme-primary);
}
