@import url("../assets/normalize.css");

:root {
  --bg_0: #f8f3ef;
  --bg_1: #fff;
  --text_0: #383838;
  --primary: #8c00ff;
  --secondary: #bd5809;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_0: #383838;
    --bg_1: #2e2a2f;
    --text_0: #f8f3ef;
    --secondary: #ffa35b;
  }
}

html {
  font-size: 62.5%
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--bg_0);
  color: var(--text_0);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

body * {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: 48rem;
  padding: 6.4rem 1.6rem;
}

.card {
  position: relative;
  padding: 2.4rem 1.6rem;
  background-color: var(--bg_1);
  border: 0.1rem solid #9b78de;
  box-shadow: 0.2rem 0.2rem #e9e1f8;
}

/* 🍀 `em` are the only consistent unit in @media queries. */
@media (min-width: 30em) {
  .card {
    display: flex;
  }

  .card> :nth-child(1) {
    flex: 1;
  }

  .card> :nth-child(2) {
    flex: 2;
    padding-left: 1.6rem;
  }
}


.btnBell {
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--primary);
  border-radius: 0.3rem;
  padding: 0.8rem;
  background-color: var(--bg_0);
  color: var(--text_);
  cursor: pointer;
}

.btnBell:hover {
  color: var(--primary);
}

.btnBell-svg {
  width: 1.6rem;
  max-height: 1.6rem;
  fill: currentColor;
  margin-right: 0.8rem;
  animation: shakeSometimes 4000ms infinite;
}

@media (prefers-reduced-motion: reduce) {
  .btnBell-svg {
    animation: none;
    /* We can create different visual ways
    to communicate something without using animations */
    fill: var(--primary);
    transform: rotate(-10deg);
  }
}

.btnBell-svg:focus {
  outline: none;
  box-shadow: var(--bg_0) 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}

.u-fixedTop {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.tag {
  color: var(--secondary);

  margin-bottom: 0.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.heading-1 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 1.6rem;
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code bellow  *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

@keyframes shakeSometimes {

  40%,
  60% {
    transform: rotate(0deg);
  }

  42.5%,
  57.5% {
    transform: rotate(10deg);
  }

  45%,
  50%,
  55% {
    transform: rotate(-20deg);
  }

  47.5%,
  52.5% {
    transform: rotate(20deg);
  }
}

@-webkit-keyframes shakeSometimes {

  40%,
  60% {
    transform: rotate(0deg);
  }

  42.5%,
  57.5% {
    transform: rotate(10deg);
  }

  45%,
  50%,
  55% {
    transform: rotate(-20deg);
  }

  47.5%,
  52.5% {
    transform: rotate(20deg);
  }
}