/* Do never ever do this 🥺.
/* *:focus {
  outline: none;
} */

/* ------- BUTTON -------  */

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 4.4rem;
  font-size: 1.6rem;
  border: none;
  padding: 0.8rem 2.4rem;
  background-color: #8c00ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
}

.c-btnPrimary:hover {
  opacity: 0.8;
}

.js-focus-visible .c-btnPrimary:focus {
  outline: none;
}

.c-btnPrimary:focus.focus-visible {
  box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}

/* ------- FORM INPUTS -------  */

.textInput {
  width: 100%;
  max-width: 20rem;
  height: 3.2rem;
  padding: 0.4rem 0.8rem;
  font-size: inherit;
  border: 0.1rem solid #6f6f6f;
}

.textInput:hover {
  border-color: #8c00ff;
}

.textInput:focus {
  outline: none;
  box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}

/* ------- LINK -------  */

.c-link {
  color: #6f6f6f;
  padding: 0.1rem 0.2rem;
  transform: translateX(-0.1em);
  margin-right: -0.1em;
}

.c-link:hover {
  color: #8c00ff;
}

.c-link:focus {
  outline: none;
  color: #8c00ff;
  background-color: #e9e1f8;
}
