/* Do never ever do this 🥺.
 🍀 Delete this declaration! */
/* *:focus {
  outline: none;
} */

/* ------- BUTTON -------  */

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 4.4rem;
  font-size: 1.6rem;
  border: none;
  padding: 0.8rem 2.4rem;
  background-color: #7E06E0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
}

.c-btnPrimary:hover {
  opacity: 0.8;
}

/* 🍀 add your styles here! */
.js-focus-visible .c-btnPrimary:focus {
  outline: none;
}

.c-btnPrimary:focus.focus-visible {
  box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}

/* ------- FORM INPUTS -------  */

.textInput {
  width: 100%;
  max-width: 20rem;
  height: 3.2rem;
  padding: 0.4rem 0.8rem;
  font-size: inherit;
  border: 0.1rem solid grey;
}

.textInput:hover {
  border-color: #7E06E0;
}

.textInput:focus {
  outline: none;
  box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem;
}


/* ------- LINK -------  */

.c-link {
  color: grey;
  padding: 0.1rem 0.2rem;
  transform: translateX(-0.1em);
  margin-right: -0.1em;
}

.c-link:hover {
  color: #7e06e0;
}

.c-link:focus {
  outline: none;
  color: #7e06e0;
  background-color: #e9e1f8;
}

/* ------- SELECT (BONUS #1) -------  */

.selectCustom,
.selectNative {
  position: relative;
  width: 22rem;
  height: 3.8rem;
}

.selectNative {
  position: absolute;
  opacity: 0;
  pointer-events: none;

}

.selectNative:focus {
  position: relative;
  opacity: 1;
}

.selectNative:focus+.selectCustom {
  display: none;
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code bellow  *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

.selectNative {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.8rem;
  padding-left: 0.8rem;
}

.selectCustom-label {
  position: relative;
  width: 100%;
  height: 3.8rem;
  background-color: #fff;
  border: 1px solid #939393;
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
}

.selectCustom-label::after {
  content: '▾';
  position: absolute;
  top: 0;
  line-height: 3.8rem;
  right: 0.8rem;
}

.selectCustom-label:hover {
  border-color: #8500f2;
}

.selectCustom-options {
  position: absolute;
  top: calc(3.8rem + 0.8rem);
  left: 0;
  width: 100%;
  border: 1px solid #939393;
  border-radius: 0.4rem;
  background-color: #fff;
  box-shadow: 0 0 4px #e9e1f8;
  z-index: 1;
  padding: 0.8rem 0;
  display: none;
}

.selectCustom.isActive .selectCustom-options {
  display: block;
}

.selectCustom-option {
  position: relative;
  padding: 0.8rem;
}

.selectCustom-option:hover {
  background-color: #f7ecff;
}

.selectCustom-option:not(:last-of-type)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0.8rem;
  width: calc(100% - 1.6rem);
  border-bottom: 1px solid #d3d3d3;
}