@import url("2.2.css");

/* 💡 The .skipLink class */
/* 🍀 With :not() we don't need to override .sr-only styles when it's focused */
.skipLink:not(:focus) {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: none;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  box-shadow: none;
}

.skipLink {
  position: fixed;
  top: 8px;
  left: 8px;
  display: inline-block;
}

.skipLink:focus {
  color: inherit;
  padding: 8px;
  border: 1px solid var(--theme-primary);
  background-color: var(--theme-bg_1);
  box-shadow: var(--theme-focus_shadow);
  outline: none;
}

/** Alternative without :not()
.skipLink {
  position: fixed;
  top: 8px;
  left: 8px;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: none;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.skipLink:focus {
  display: inline-block;
  border: 1px solid var(--theme-primary);
  background-color: var(--theme-bg_1);
  color: inherit;
  padding: 8px;
  box-shadow: var(--theme-focus_shadow);

  width: auto;
  height: auto;
  margin: auto;
  overflow: auto;
  clip: none;
}
*/

/* 💡 Bonus #1 */
/* CSS animation shown when the element
receives focus from an href="#" */
#main:target {
  animation: tempRing 1500ms;
}

/* 💡 Bonus #2 */
.listTitle:focus {
  outline: none;
  animation: tempRing 1500ms;
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code below   *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

.listBottom {
  display: flex;
  justify-content: flex-end;
}

.btnCircle svg {
  width: 16px;
  fill: currentColor;
}

@-webkit-keyframes tempRing {
  30%,
  75% {
    box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
  }
}

@keyframes tempRing {
  30%,
  75% {
    box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
  }
}
