@import url("2.2.css");

/* 💡 The .skipLink class */

.skipLink {
  position: fixed;
  top: 8px;
  left: 8px;
  display: inline-block;
  border: 1px solid #9d79ef;
  background-color: #fff;
  color: inherit;
  padding: 8px;
  opacity: 0;
  pointer-events: none;
}

.skipLink:focus {
  outline: none;
  opacity: 1;
  pointer-events: auto;
  box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
}

/* 💡 Bonus #1 */
/* CSS animation shown when the element
receives focus from an href="#" */
#main:target {
  animation: tempRing 1500ms;
}

/*  ----------------------------------------- *\
|*  You do not need to touch the code below   *|
|*     but you can see how it was made.       *|
\** ----------------------------------------- */

@-webkit-keyframes tempRing {
  30%,
  75% {
    box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
  }
}

@keyframes tempRing {
  30%,
  75% {
    box-shadow: white 0 0 0 1px, #ef7979 0 0 0 3px;
  }
}
